body {
    background-color: rgb(22, 22, 22);
    color: rgb(132, 0, 255) ;
    height: 100vh;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

a {
    color: rgb(65, 65, 241);
}

.dashboard {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    color: white;
}

.list {
    display: flex;
    flex-direction: column;
}

.diffusion {
    display: flex;
    gap: 1rem;
}