body {
  background-color: rgb(29, 29, 29);
  color: #7b529b;
  margin: 0;
  height: 100vh;
  font-weight: bold;
}

section {
  padding: 0 2rem 2rem 2rem;
}

header {
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: rgb(20, 20, 20);
}

h1 {
  text-decoration: underline;
  background-color: #5d1e87;
  padding: 1.5rem;
  border-radius: 45%;
  color: #b598c6;
}

h2 {
  text-decoration: underline dotted;
}

h5 {
  margin: 0;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: #5d1e87;
  text-decoration: underline;
}

a {
  color: #b598c6;
  text-decoration: underline;
}

input,
button {
  background-color: #b598c6;
  border-radius: 30px;
  width: 8rem;
}

.dashboard {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.add-media {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.right {
  display: flex;
  flex-direction: column;
}

.list-dashboard {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.search {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.searchBar {
  background-color: #b598c6;
  border-radius: 30px;
  text-align: center;
  height: 2rem;
  width: 25rem;
  border: none;
}

form {
  display: flex;
  flex-direction: column;
  color: white;
}

.next-diff {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-items: center;
  justify-content: center;
}

.list-accueil {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}

.diffusion {
  text-align: center;
  width: 100%;
  border: 2px solid #b598c6;
  border-radius: 8px;
}

span {
  text-decoration: underline;
}
