body {
  background-color: rgb(29, 29, 29);
  color: #7b529b;
  margin: 0;
  height: 100vh;
  font-weight: bold;
}

header {
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: rgb(20, 20, 20);
}

h1 {
  text-decoration: underline;
  background-color: #5d1e87;
  padding: 1rem;
  border-radius: 40%;
  color: #b598c6;
}

h2 {
  text-decoration: underline dotted;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: #5d1e87;
  text-decoration: underline;
}

a {
  color: #b598c6;
  text-decoration: underline dotted;
}

.dashboard {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.search {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.searchBar {
  background-color: #b598c6;
  border-radius: 30px;
  text-align: center;
  height: 2rem;
  width: 25rem;
  border: none;
}

form {
  display: flex;
  flex-direction: column;
  color: white;
}

.list {
  display: flex;
  flex-direction: column;
}

span {
  text-decoration: underline;
}
